{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<p>Total Balance In Group: {{total_balance|currency}}</p>

<h3>Unpaid Receipts</h3>
<table class="table">
<tr>
<th>Receipt</th>
<th>Amount</th>
<th>Time</th>
</tr>
{% for r in current_user.receipts.order_by('time') if r.paid == False %}
<tr>
<td><a href="{{url_for('view_receipt', receipt_id=r.id)}}">{{r.name}}</a></td>
<td>{{r.amount|currency}}</td>
<td>{{r.time|timesince}}</td>
</tr>
{% endfor %}
</table>

<h3>Your Dues To Others</h3>
<table class="table">
<tr>
<th>Receipt</th>
<th>Posted by</th>
<th>Amount</th>
</tr>
{% for due in current_user.dues if due.paid == False %}
<tr>
<td>{{due.receipt.name}}</td>
<td>{{due.receipt.user.name}}</td>
<td>{{due.amount|currency}}</td>
</tr>
{% endfor %}
</table>

<h3>Others' Dues to You</h3>
<table class="table">
<tr>
<th>User</th>
<th>Receipt</th>
<th>Amount</th>
</tr>
{% for receipt in current_user.receipts if receipt.paid == False %}
{% for due in receipt.dues if due.paid == False %}
<tr>
<td>{{due.user.name}}</td>
<td>{{due.receipt.name}}</td>
<td>{{due.amount|currency}}</td>
</tr>
{% endfor %}
{% endfor %}
</table>


<h3>Balances</h3>
<table class="table">
<tr>
<th>To User</th>
<th>Amount Owed</th>
<th>Pay</th>
</tr>
{% for b in balances %}
<tr>
<td>{{b[0].name}}</td>
<td>{{b[1]|currency}}</td>
<td>
{% if b[1] > 0 %}
<a href="{{url_for('pay_dues_between', user_id=b[0].id)}}">Pay</a>
{% endif %}
</td>
</tr>
{% endfor %}
</table>
{% endblock %}