{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<form action="" method="post" class="form-horizontal">
{{ form.hidden_tag() }}

<div class="form-group">
{{ form.username.label(class_='col-sm-2 control-label') }}

<div class="col-sm-3">
{{ form.username(class_='form-control')}}
</div>

</div>

<div class="form-group">
{{ form.password.label(class_='col-sm-2 control-label') }}

<div class="col-sm-3">
{{ form.password(class_='form-control') }}
</div>

</div>

<div class="form-group">
<div class="col-sm-offset-2 col-sm-3">
<button type="submit" class="btn btn-primary">Log in</button>
{% if config['REGISTRATIONS_OPEN'] == True %}
<a class="btn btn-default" href="{{url_for('register')}}">Register</a>
{% endif %}
</div>
</div>
</form>
{% endblock %}