{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<form action="" method="post" role="form">
{{ form.hidden_tag() }}
<div class="form-group">
{{ form.username.label }} {{ form.username(class_="form-control") }}
</div>
<div class="form-group">
{{ form.email.label }} {{ form.email(class_="form-control") }}
</div>
<div class="form-group">
{{ form.password.label }} {{ form.password(class_="form-control") }}
</div>
<div class="form-group">
{{ form.confirm.label }} {{ form.confirm(class_="form-control") }}
</div>
<div class="form-group">
{{ form.name.label }} {{ form.name(class_="form-control") }}
</div>
<button type="submit">Register</button>
</form>
{% endblock %}